<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration Page</title>
</head>
<body bgcolor="sky blue" style="Algerian">

 <form method="post" >
     <table bgcolor="red" >

         <tr>
             <td>Username</td>
             <td><input type ="text" name="Username"></td>
         </tr>
         <tr>
             <td>Password</td>
             <td><input type ="password" placeholder="password" name="Password"></td>
         </tr>
         <tr>
             <td>Email</td>
             <td><input type ="email" placeholder="email" name="Email"></td>
         </tr>
         <tr>
             <td>Phone_Number</td>
             <td><input type ="text" placeholder="98734*****" name="Phone_number"></td>
         </tr>
         <tr>
             <td>Location</td>
             <td><input type ="text" placeholder="location" name="Location"></td>
         </tr>
         <tr><td><input type="submit" value="Submit"></td></tr>
         <tr><td><input type="reset" value="Reset"></td></tr>
     </table>
</form>

</body>
</html>